.container 
{
	border:4px solid black;
}

.container div 
{
	padding:30px;
}

.container .bloc1
{
	background: red;

}

.container .bloc2
{
	background: yellow;
}

.container .bloc3
{
	background: green;
}